
*{
    font-family: "Source Sans 3", sans-serif;
}
main{
    background: rgb(225,239,241);
background: linear-gradient(0deg, rgba(225,239,241,1) 0%, rgba(240,238,233,1) 100%);
}

header{
    background-color: rgba(240,238,233,1);
}
.footer{
    background-color:  rgba(55,39,135,0.6587009803921569) 0%;
}
.nav-item a{
    color: #141414;
}

#boton-perfil:hover{
    background-color: #17184b;
    color: #d6b4fc;
}
.nav-item a:hover{
    background-color: #17184b;
    color: #d6b4fc;
}
.nav-link:hover{
    color: #d6b4fc;
}
#app{
    color: #273287;
}
.boton-cv{
    background-color: #273287;
}
.boton-cv:hover{
    background-color: #17184b;
    color: #d6b4fc;
}
.btn-proyecto{
    background-color: #eef5f5;
}
.btn-proyecto a{
    text-decoration: none;
    color: rgb(49, 183, 105);
}
.container-hero{
    background-color: #273287;
}
.div-footer{
    background: rgb(39,50,135);
    background: linear-gradient(0deg, rgba(39,50,135,1) 0%, rgba(225,239,241,1) 100%);  
    color: #ffff;
}
.card .card-subtitle{
    color: #17184b;
}
.card{
    padding: 24px;
}
.btn-footer{
    background-color: #273287;
}
.btn-footer:hover{
    background-color: #17184b;
    color: #d6b4fc;
}
.tecno-color{
    color: #d6b4fc;
}
.icon-footer i{
    font-size: 32px;
    color: #ffff;
}
.icon-footer i:hover {
    color: #d6b4fc; 
  }
  